services:
  backend:
    image: git.nohub.lol/rk/hecate-backend:latest
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - opensearch

  frontend:
    image: git.nohub.lol/rk/hecate-frontend:latest
    ports:
      - "4173:4173"
    depends_on:
      - backend

  mongo:
    image: mongo:8
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 2G
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  opensearch:
    image: opensearchproject/opensearch:2
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - opensearch-data:/usr/share/opensearch/data

volumes:
  mongo-data:
  opensearch-data:
